body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: cornsilk;
    color: brown;
}
.box{
    width: 400px;
    margin: 40px auto;
    background-color: lightpink;
    padding: 20px;
    text-align: center;
}
h1{
    color: black;
    font-size: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h3{
    color: brown;
    font-size: 30px;
}
#btn{
    padding: 10px,15px;
    background: rgb(1, 0, 0);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
li{
    background-color: cornflowerblue;
    padding: 10px;
    margin-top: 5px;
    display: flex;
    justify-content: space-between;

}
#input{
    text-align: left;
}
